Correction to the `contrib/uri.hpp` grammar

ABNF strings are case insensitive [RFC 5234 (ABNF) § 2.3] so the "v" in the definition of `IPvFuture` [RFC 3986 (URI) § 3.2.2] can be an uppercase V. Line 61 in `contrib/uri.hpp` should be
```diff
-         struct IPvFuture : if_must< one< 'v' >, plus< abnf::HEXDIG >, dot, plus< sor< unreserved, sub_delims, colon > > > {};
+         struct IPvFuture : if_must< sor < one< 'v' >, one < 'V' >>, plus< abnf::HEXDIG >, dot, plus< sor< unreserved, sub_delims, colon > > > {};
```
or something equivalent.

Thank you, looks like you are right!

(Let me just point out that we can write `sor< one< 'v' >, one< 'V' > >` shorter as `one< 'v', 'V' >`.)

RFC 3986 references RFC 2234 for ABNF, not RFC 5234, but there's no difference, both state that quoted strings are case-*insensitive* ASCII.

Duly noted, thanks ! (Your reactivity is quite something !)

Small things are better dealt with immediately (when there are 5 minutes to spare) :-)